{% load static %}
{% load i18n %}
<div id="footer">
  <img class="banner-bg" src="{% static 'images/bg_banner.png' %}" />
  <svg width='100%' height='100%' viewBox="0 0 375 135" preserveAspectRatio="none" class="banner-svg">
    <path d="M 0 0 H 375 L 0 40 V 0" id="t-white" />
    <path d="M 0 15 L 0 40 L 125 26.7" id="t-orange" />
  </svg>
  <div class="footer-content">
    <span class="footer-text">{% trans "Contact Us" %}</span>
    <a id="social-footer" class="fab fa-facebook-square facebook-icon"
      href="https://web.facebook.com/ECONTUofficial/?_rdc=1&_rdr"></a>
    <div class="footer-link">
      <span class="footer-text">Term of use</span>
      <span class="footer-text">Privacy Policy</span>
    </div>
  </div>
</div>