{% extends 'layout.html' %} {% load static %} {% block content %}{% load i18n %}
<div class="app-container template-2">
  <div class="section">
    <h1 class="text-left text-primary-blue">{% trans "Knowledge Graph Skill Strategy" %}</h1>
    <p class="section-desc">
      {% trans "The searching system for necessary occupational skills in the future, using data analytics technology with Knowledge Graph, you can develop your own skills to meet the needs of the future labor market. Increase career advancement opportunities. Ready to keep up with the changing of the future labor market" %}
    </p>
    <img class="section-img" src="{% static 'images/knowledge_graph_img.png' %}">
    <div class="button-wrapper">
      <a href="https://web.knowledgegraph.analytics.econ.tu.ac.th/KnowledgeSkillStrategy" ><button class="section-button">{% trans "Find more Knowledge Graph" %}</button></a>
    </div>
  </div>
  <div class="section">
    <h1 class="text-left text-primary-blue">{% trans "Data Platform" %}</h1>
    <p class="section-desc">
      {% trans "The comprehensive data management platform that covers Data Importing, Exploring, Reviewing and Analyzing data. The platform enhance the service of information and descriptions in a systematic way." %}
    </p>
    <img class="section-img img-shadow-1" src="{% static 'images/data_platform_img.png' %}">
    <div class="button-wrapper">
      <a href="https://discovery.data.storemesh.com/" ><button class="section-button">{% trans "Find More Data" %}</button></a>
    </div>
  </div>
  <div class="section">
    <h1 class="text-left text-primary-blue">{% trans "Knowledge Graph Explorer" %}</h1>
    <p class="section-desc">
      {% trans "The career database survey system for research studies. By displaying the results in a dot graph (Scatter Plot), you can see an overview of the career data." %}
    </p>
    <img class="section-img" src="{% static 'images/knowledge_explorer_img.png' %}">
    <div class="button-wrapper">
      <a href="https://web.knowledgegraph.analytics.econ.tu.ac.th/KnowledgeExplorer"><button class="section-button">{% trans "Find More Knowledge Graph Explorer" %}</button></a>
    </div>
  </div>
</div>
{% include "footer.html" %}
{% endblock %}