{% extends 'layout.html' %} {% load static %} {% block content %}{% load i18n %}

<div class="app-container">
  <div class="section mt-12">
    <h1 class="text-left">{% trans "News" %}</h3>
    
    <div class="card-v1-grid mt-2">
      {% if news_page %}{% for news in news_page %}
      <div class="card-v1">
        <a class="card-link" href="{% url 'newsDetail' news.id %}">
          <div class="card-img" style="background-image:url({{news.image.url}});">
            <div class="overlay z-front">
              <div class="overlay-content">
                <span data-news="{{ news.id }}"  class="hover" >{% trans "View News" %}</span>
              </div>
            </div>
          </div>
          <div class="card-v1-text-container mt-2">
            <span class="card-v1-title">{{ news.title|safe|truncatechars:45}}</span>
            <span class="card-v1-desc">
              {{ news.descriptions|safe|truncatechars:80 }}
            </span>
          </div>
        </a>
      </div>
      {% endfor %} 
    </div>
  
    {% else %}
    <h1 align="Center"><i lass="ii fas fa-circle-xmark icon-x"></i>{% trans "  404 Not Found, not any news. Please try add data news." %}</h1>
    <br /><br />
    {% endif %}
    <br><br>
  <div class="pagination btn-page">
      <span class="step-links">
          {% if news_page.has_previous %}          
              <a class="page-color" href="?page={{ news_page.previous_page_number }}"><</a>
          {% endif %}
  
          <span class="pagination-current page-color">
           {{ news_page.number }}
          </span>
  
          {% if news_page.has_next %}
              <a class="page-color" href="?page={{ news_page.next_page_number }}">></a>
          {% endif %}
      </span>
  </div>
  </div>
</div>

{% include "footer.html" %}
{% endblock %}