{% extends 'layout.html' %}
{% load static %}
{% block content %}
{% load i18n %}
<div class="container">
    <h3 class="head-job" >Job Opportunities</h3>
</div>

<div class="container">
    <h3 class="h4-job mar-top need-hire">Need to Hire The Right Person?</h3>
    <a class="btn btn-create-detail" href="{% url 'jobProfile' %}">Create Detail For Hiring</a>
</div>
<div class="container history">
    <h3 class="h4-job ">Recent Jobs</h3>

{% if jobs %}{% for job in jobs %}
<div class="card text-center card-job-opp">
    <div align="Left" class="card-body">
      <h5 class="card-title h-title-job">{{ job.title}}</h5>
      <p class="card-text ">Company name : {{ job.company }}</p>
      <p class="card-text p-job">Contact email : {{ job.email }}</p>
      <p class="card-text p-job">Link : <a class="link-comp" href="{{ job.link }}">{{ job.link }}</a></p>
      <p style="white-space: pre;" class="card-text p-job">Job description : <br>{{ job.descriptions |truncatechars:120 }}</p>
      <div class="btn-right">
        <!-- <a href="#" class="btn  btn-edit">Edit</a> -->
        <a href="#" class="btn  btn-read-more">Read More</a>
      </div>
    </div>
</div>
{% endfor %}
{% else %}
  <h1 align="Center"><i lass="ii fas fa-circle-xmark icon-x"></i>{% trans "  404 Not Found, not any news. Please try add Job." %}</h1>
  <br>
{% endif %}


</div>
{% include "footer.html" %}
{% endblock %}